body {
  font-family: sans-serif;
  color: #2d3c49;
}

figcaption {
  text-align: center;
}

.all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  border-bottom: 3px solid #7d97ad;
  margin-bottom: 20px;
  display: flex;
}

.logo {
  width: 70%;
  padding-top: 5%;
  padding-bottom: 10px;
  padding-left: 5%;
}

.title {
  text-align: right;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
}

.main_section {
  width: 100%;
}

.main_image {
  width: 100%;
  margin-bottom: 20px;
}

.bottom_title {
  padding-left: 5%;
  color: #7d97ad;
}

.bottom_section a {
  text-decoration: none;
}

.bottom_section {
  width: 100%;
  column-count: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom_item {
  color: #2d3c49;
  width: 33%;
  max-width: 33%;
  border: 3px solid #7d97ad;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex: 0 1 32%;
}

.bottom_img {
  width: 100%;
  flex-grow: 10;
}

.bottom_text {
  width: 100%;
  flex-grow: 2;
}

@media screen and (max-width: 850px) and (min-width: 551px) {
  .bottom_section {
    column-count: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .bottom_item {
    flex: 0 1 49%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-wrap: wrap;
  }
  .bottom_section {
    column-count: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .bottom_item {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}